<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom:0px">
    <div class="panel panel-default" style="border-style:none;margin-bottom:0px">
      <div class="panel-body" style="padding:5px 10px 5px 10px">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="btn dropdown" style="padding:0px;padding-left:2px;padding-right:2px">

            <div class="btn dropdown" style="padding:0px">
              <button class="dropdown btn btn-primary dropdown-toggle" type="button" id="object" data-toggle="dropdown">
                <span class="glyphicon glyphicon-file"></span>
                File
                <span class="caret" style="cursor:pointer;color:white"></span>
              </button>
              <div class="dropdown-menu">
                <li><a (click)="restart()">Restart</a></li>
                <li role="separator" class="divider"></li>
                <li><a (click)="exportSample()">Export samples</a></li>
              </div>
            </div>

            <button type="button"
              class="btn btn-primary"
              (click)="startStop()">
              {{ messageStartStop }}
            </button>

            <button type="button"
              class="btn btn-primary"
              (click)="nextTime()">
              NextTime
            </button>

            Speed:
            <button type="button"
              class="btn btn-primary"
              (click)="setSleep(0.5)">
              +
            </button>

            <button type="button"
              class="btn btn-primary"
              (click)="setSleep(2)">
              -
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<span class="help-block" style="color:red;margin-left:20px">{{ messageError }}</span>


<div class="row">
  <div style="border-style:none;margin:5px;float:left">
    <div
      style="width:100%;height:100%;padding:0px;margin-left:5px">
      <app-drawer #container (mouseup)='selectItem($event)' style="width:100%; height:100%;"></app-drawer>
    </div>
  </div>
    <div style="float:left;margin:5px" *ngIf="info">
      <table>
        <tbody>
          <tr><td>Timer</td><td>{{ info.timer }}</td><td>{{ info.speed}} t/s</td></tr>

          <tr><td><div class="title">From the beginning</div></td><td><div class="title">Global</div></td><td><div class="title">Selected</div></td></tr>
          <tr><td>Happiness</td><td>{{ info.global.happiness.toFixed(2) }}</td><td>{{ info.selected.happiness.toFixed(2) }}</td></tr>
          <tr><td>Updated network</td><td>{{ info.global.fromBeginningNetworkUpdated }}</td><td>{{ info.selected.fromBeginningNetworkUpdated }}</td></tr>
          <tr><td>Train number</td><td>{{ info.global.fromBeginningTrain }}</td><td>{{ info.selected.fromBeginningTrain }}</td></tr>
          <tr><td>Good decision rate</td><td>{{ info.global.fromBeginningGRate.toFixed(2) }}%</td><td>{{ info.selected.fromBeginningGRate.toFixed(2) }}%</td></tr>

          <tr><td><div class="title">Average on period</div></td><td></td><td></td></tr>
          <tr><td>Contact</td><td>{{ info.global.contact }}</td><td>{{ info.selected.contact }}</td></tr>
          <tr><td>Train number</td><td>{{ info.global.train }}</td><td>{{ info.selected.train }}</td></tr>
          <tr><td>Decision</td><td>{{ info.global.decision }}</td><td>{{ info.selected.decision }}</td></tr>
          <tr><td>Positive decision reinforcement</td><td>{{ info.global.reinforce }}</td><td>{{ info.selected.reinforce }}</td></tr>
          <tr><td>Negative decision fading</td><td>{{ info.global.fade }}</td><td>{{ info.selected.fade }}</td></tr>
          <tr><td>Updated network</td><td>{{ info.global.periodNetworkUpdated }}</td><td>{{ info.selected.periodNetworkUpdated }}</td></tr>
          <tr><td>Good decision rate</td><td>{{ info.global.periodGRate.toFixed(2) }}%</td><td>{{ info.selected.periodGRate.toFixed(2) }}%</td></tr>

          <tr class="sep"><td></td><td></td><td></td></tr>
          <tr><td><div class="title">Networks</div></td><td><div class="title">Worse</div></td><td><div class="title">Best</div></td></tr>
          <tr><td>Id</td><td><a (click)="select(info.worseId)">{{ info.worseId }}</a></td><td><a (click)="select(info.bestId)">{{ info.bestId }}</a></td></tr>
          <tr><td>Structure</td><td>{{ info.worseNetworkStruct }}</td><td>{{ info.bestNetworkStruct }}</td></tr>
          <tr><td>Distinct decisions</td><td>{{ info.worseNetworkDirCount }}</td><td>{{ info.bestNetworkDirCount }}</td></tr>
          <tr><td>Good decision rate</td><td>{{ info.worseNetworkGRate.toFixed(2) }}%</td><td>{{ info.bestNetworkGRate.toFixed(2) }}%</td></tr>
        </tbody>
      </table>
  </div>
</div>
